[project]
	description = Demo application for the 'Jenkins: The Definitive Guide' book
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/prashanthpallu
[access "refs/for/refs/*"]
	read = group user/prashanthpallu
	push = group user/prashanthpallu
	label-Code-Review = -2..+2 group user/prashanthpallu
	label-Verified = -1..+1 group user/prashanthpallu
	rebase = group user/prashanthpallu
	removeReviewer = group user/prashanthpallu
	submit = group user/prashanthpallu
[access "refs/heads/*"]
	read = group user/prashanthpallu
	create = group user/prashanthpallu
	push = +force group user/prashanthpallu
	pushMerge = group user/prashanthpallu
[access "refs/tags/*"]
	push = +force group user/prashanthpallu
	pushTag = group user/prashanthpallu
	pushSignedTag = group user/prashanthpallu
